<!DOCTYPE html>
<html>
    <head>
        <title>My App</title>
    </head>
    <body>
        <pre>
            <%= people %>
        </pre>

        <form action="/" method="POST">
            <input type="text" name="name" placeholder="Your Name" required>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>